---
# Loopback interface for management
- name: Confirm Loopback0 IP on each device fall in the Mgmt subnet
  ansible.builtin.assert:
    that:
      - "'10.254.1.0/24' | ansible.utils.network_in_network(mgmt.loopbacks.Loopback0)"
    fail_msg: "{{ mgmt.loopbacks.Loopback0 }} does not belong to a valid subnet"
    success_msg: "{{ mgmt.loopbacks.Loopback0 }}: <OK>"
    quiet: true

- name: Configure Loopback Interfaces
  cisco.ios.ios_config:
    lines:
      - ip address {{ item.value }} 255.255.255.0
    parents: interface {{ item.key }}
    save_when: changed
  with_dict: "{{ mgmt.loopbacks }}"
  when: ansible_network_os == 'ios'

# SNMP

- name: Configure SNMP settings
  cisco.ios.ios_config:
    lines:
      - snmp-server community ciscoro RO
      - snmp-server community ciscorw RW
      - snmp-server location CICD-Lab
    save_when: changed
  when: ansible_network_os == 'ios'
