---
- name: Confirm BGP network statements fall in the 10.0.0.0/8 subnet
  ansible.builtin.assert:
    that:
      - "'10.0.0.0/8' | ansible.utils.network_in_network(item.network)"
    fail_msg: "{{ item.network }} does not belong to a valid subnet"
    success_msg: "{{ item.network }}: <OK>"
    quiet: true
  loop: "{{ bgp.networks }}"

- name: Print rendered BGP configuration
  ansible.builtin.debug:
    msg: "{{ lookup('ansible.builtin.template', 'templates/bgp_global.j2') }}"

- name: Apply rendered BGP configuration
  cisco.ios.ios_config:
    src: templates/bgp_global.j2
